.auth-template {
  width: 40%;
  margin: 0 auto;
  padding: 30px 50px 50px 50px;
  margin-bottom: 30px;
  border-radius: 2rem;
  background: #fff;
  & form h3 {
    padding-bottom: 20px;
    text-align: center;
  }
  button:disabled,
  button[disabled] {
    border: none;
    background-color: #d6d6d9;
    color: black;
    &:hover {
      color: black;
      background-color: #d6d6d9;
      cursor: not-allowed;
    }
  }
}

.auth-dialog-wrap {
  .activate-wrap {
    width: 25%;
  }
  @media (max-width: 1024px) {
    .activate-wrap {
      width: 80%;
    }
  }
  .dialog {
    background-color: transparent !important;
  }
  .backdrop {
    z-index: -1;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    min-height: 100vh !important;
    background-color: rgba(000, 000, 000, 0.5) !important;
    background-image: none !important;
  }
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7a7a7a;
  margin: 0;
}

.forgot-password a {
  color: #2554ff;
}

@include media-breakpoint-down(sm) {
  .auth-template {
    width: 100%;
    margin: 0 auto;
  }
}
