.header {
  .header-btn {
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    transition: 0.2s;
    background-color: #3a8ee6;
    &:hover {
      background-color: #66b1ff;
    }
  }
  .events-text {
    display: inline;
  }
  @media screen and (max-width: 1024px) {
    .events-text {
      display: none;
    }
  }
}
