.header {
  .header-btn {
    padding: 10px 20px;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.2s;
    &:hover {
      color: #fff;
      background-color: #3a8ee6;
    }
  }
  .sidebar {
    display: none;
  }
  @media screen and (max-width: 1024px) {
    .events {
      display: none;
    }
    .sidebar {
      display: block;
    }
  }
}
