.el-input__inner {
  padding: 5px 30px;
  height: auto;
  border: none;
  background-color: #f2f3f7;
  border-radius: 25px;
  color: #409eff;
  &::placeholder {
    color: rgb(61, 61, 61);
  }
}
.el-input__suffix {
  padding-right: 15px;
}
